html{
    box-sizing: border-box;
    }
    *, *::before, *::after{
    box-sizing: inherit;
    }
    
    a{
    text-decoration: none;
    color:#000;
    display: inline-block;
    }
    
    ul{
    list-style: none;
    margin: 0px;
    padding: 0px auto;
    }
    
    li{
    display: inline-block;
    }

    .container{
    max-width: 1100px;
    margin: 0 auto;
	padding: 0 15px;
    }
    .header__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 105px;
        padding-top: 15px;
        margin-bottom: 50px;
    }
    .header__logo-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 35px;
    }
    .header__logo-title span{
        color: #ff6800;    
    }

    .header__menu{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    .header__menu-list{
        cursor: pointer;
    }
    .header__menu-list li:hover{
        color: #ffa31a;  
    }

    .header__menu-list li + li{
        padding-left: 26px;
    }

    .header__logo img{
        border-radius: 50%;
    }

    .container__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .container__mini{
        max-width: 900px;
    }
    .rolf-text{
        text-align: center;
        font-family: 'Roboto', sans-serif; 
        font-weight: 400;
        border:solid 1px #000;
        margin-bottom: 30px;
    }
    .rolf-text:hover{
        border:solid 1px #000;
        color: #fff;
        background-color: #ff6800;
        font-family: 'Roboto', sans-serif; 
        font-weight: 700;
    }
    .rofl__german{
        margin-left: 20px;
        border: solid 4px red;
        max-height: 350px;
        margin-bottom: 40px;
    }

    .border{
        border: solid 1px #000;
    }

    .rofl__german-text{
        padding-left: 2px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif; 
    }
    .rofl__german-text:hover{
        text-decoration: underline purple;
    }

    .mega__rofl{
        border: solid 1px #266091;
    }

    .mega__rolf-img{
        display: flex;
        justify-content: center;
        margin:0 auto;
        padding-top: 2px;
    }
    .mega__rofl-text{
        text-align: center;
        font-family: 'Roboto', sans-serif; 
    }

    .mega__rofl-text a{
       color:#551a8b;
    }

    .border-blue{
        border: solid 4px blue;
    }
    
    /*font-family: 'Roboto', sans-serif; 
    